# tutorial ignores.
/tutorial/*.bbl
/tutorial/*.blg
/tutorial/*.aux
/tutorial/*.ind
/tutorial/*.idx
/tutorial/*.ilg
/tutorial/*.log
/tutorial/*.out
/tutorial/*.toc
/tutorial/*.dvi
/tutorial/*.ps
/tutorial/*.pdf
/tutorial/spec_pl.tex
/tutorial/_chapter_temp.tex
/tutorial/Syntax.tex
/tutorial/fig/*converted-to.pdf
/tutorial/test/
/tutorial/helper/
/tutorial/src/
/tutorial/bin/

# Spec ignores.
/spec/*.bbl
/spec/*.blg
/spec/*.aux
/spec/*.ind
/spec/*.idx
/spec/*.ilg
/spec/*.log
/spec/*.out
/spec/*.toc
/spec/*.dvi
/spec/*.ps
/spec/*.pdf
/spec/spec_pl.tex
/spec/_chapter_temp.tex
/spec/Syntax.tex
/spec/test/
/spec/helper/
/spec/src/
/spec/bin/
