# tutorial ignores.
/tutorial/*.bbl
/tutorial/*.blg
/tutorial/*.aux
/tutorial/*.ind
/tutorial/*.idx
/tutorial/*.ilg
/tutorial/*.log
/tutorial/*.out
/tutorial/*.toc
/tutorial/*.dvi
/tutorial/*.ps
/tutorial/*.pdf
/tutorial/spec_pl.tex
/tutorial/_chapter_temp.tex
/tutorial/Syntax.tex
/tutorial/fig/*converted-to.pdf
/tutorial/bin/
