# tutorial ignores.
/tutorial/*.bbl
/tutorial/*.blg
/tutorial/*.aux
/tutorial/*.ind
/tutorial/*.idx
/tutorial/*.ilg
/tutorial/*.log
/tutorial/*.out
/tutorial/*.toc
/tutorial/*.dvi
/tutorial/*.ps
/tutorial/*.pdf
/tutorial/spec_pl.tex
/tutorial/_chapter_temp.tex
/tutorial/Syntax.tex
/tutorial/fig/*converted-to.pdf
/tutorial/bin/

# tutorial slides ignores
/tutorial/slides/intro/*.bbl
/tutorial/slides/intro/*.blg
/tutorial/slides/intro/*.aux
/tutorial/slides/intro/*.ind
/tutorial/slides/intro/*.idx
/tutorial/slides/intro/*.ilg
/tutorial/slides/intro/*.log
/tutorial/slides/intro/*.out
/tutorial/slides/intro/*.toc
/tutorial/slides/intro/*.dvi
/tutorial/slides/intro/*.ps
/tutorial/slides/intro/*.pdf
/tutorial/slides/intro/*.snm
/tutorial/slides/intro/*.nav
/tutorial/slides/intro/*.vrb
/tutorial/slides/intro/fig/*converted-to.pdf

# python virtualenv ignore
/seamless_python

# failing tests
*.exec.out.tmp
